* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**border: 1px solid beige;**/
}

body {
    background-color: #004a77;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1, h2 {
    text-align: center;
    color: bisque;
    margin: 20px;
}
.palindrom {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 6px 6px #002ead;
}
.definition {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: green;
    color: bisque;
    
}